<div class="add-avatar__popover">
  <div class="add-avatar__content-wrapper">
    <form class="add-avatar__content">
      <h2 class="add-avatar__title">Загрузите файл</h2>
      <div class="add-avatar__add-file">
        {{> components/button text="Выбрать файл на компьютере"}}
      </div>
      <div class="edit-profile__button-wrapper">
        {{> components/button
          type="submit"
          text="Поменять"
        }}
      </div>
    </form>
  </div>
</div>
