<div class="change-password">
  {{> components/goBackMenu}}
  <form class="change-password__form">
    {{#with data.user}}
      {{> components/profileRow
        name="oldPassword"
        text="Старый пароль"
        editable=true
        value={{password}}
      }}
      {{> components/profileRow
        name="newPassword"
        text="Новый пароль"
        value=""
        editable=true
      }}
      {{> components/profileRow
        name="newPasswordCoppy"
        text="Повторите новый пароль"
        value=""
        editable=true
      }}
    {{/with}}
    <div class="change-password__button-wrapper">
      {{> components/button
        type="submit"
        text="Сохранить"
      }}
    </div>
  </form>
</div>
