<nav class="go-back-menu">
  <a class="go-back-menu__icon-wrapper" href="./">
    <img
      class="go-back-menu__icon-arrow-left"
      src="../../../static/icons/icon-arrow-left.svg"
      width="28"
      height="28"
      alt="go back menu icon-arrow-left"
    >
  </a>
</nav>
