<div class="search-line">
  <img
    class="search-line__icon search-icon"
    src="../../../static/icons/icon-search.svg"
    width="20"
    height="20"
    alt="search-icon"
  >
  <div class="search-line__text">Поиск</div>
</div>
